.registry-header
    margin: 1em

h1
    &.registry-header
        text-align: center

// overriding mdl rules
.mdl-layout__obfuscator,
.mdl-layout__obfuscator.is-visible,
.mdl-layout__obfuscator,
.mdl-layout__container,
    margin-top: 0

.mdl-layout__drawer
    width: 22rem
    transform: translateX(-22rem)
