.registry-header
    margin: 1em
    flex: 1 1 auto

h1
    &.registry-header
        text-align: center

.flex-containder
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    margin: 0 auto
    min-height: 96vh

.tooltips>*
    margin-top: 0

#export>button
    background: rgba(76, 175, 80, 0.3)

#import>button
    background: rgba(255, 82, 82, 0.3) 

.is-hidden
    margin-top: -11.7rem

.animated
    transition: .5s !important

.rotate
    transform: rotate(180deg) translate(12px, 12px) !important

.expand>button
    height: 20px
    margin-left: -8px
    min-width: 20px
    width: 20px
    margin-top: -6px

// overriding mdl rules
.mdl-layout__obfuscator,
.mdl-layout__obfuscator.is-visible,
.mdl-layout__obfuscator,
.mdl-layout__container,
    margin-top: 0
    position: inherit
    width: inherit
    flex: 0 0 0

.mdl-layout__drawer
    align-items: center
    position: fixed
    border-radius: 0 0 3rem 0rem
    width: inherit
    height: inherit
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
    background: #f7f7f7

.mdl-layout__drawer>.mdl-layout-title
    padding-left: 0

.button__padding-top
    padding-top: 0.1rem

.mdl-navigatiion
    margin: 1.5em 1em 0 1em

.mdl-layout
    width: unset
    height: unset