.registry-header
    margin: 1em

h1
    &.registry-header
        text-align: center

// overriding mdl rules
.mdl-layout__obfuscator,
.mdl-layout__obfuscator.is-visible,
.mdl-layout__obfuscator,
.mdl-layout__container,
    margin-top: 0
    z-index: -1

.mdl-layout__drawer 
    width: 6rem
    align-items: center

.mdl-layout__drawer>.mdl-layout-title 
    padding-left: 0

.button__padding-top
    padding-top: 0.1rem