<footer class="registry-footer">
    <h6 class="footer-text">Golden Dimension. Made with </h6>
</footer>
</div>
<div class="alerts margin-top__zero">
    <div class="alert failure">
        <strong>Operation failed.</strong>
        <br>
        <span class="message"></span>
    </div>
    <div class="alert success">
        <strong>Processed successfully!</strong>
    </div>
    <div class="alert warning">
        <strong>Warning!</strong>
        <br>
        <span class="message"></span>
    </div>
</div>
</body>

</html>