<footer class="registry-footer">
    <h6 class="footer-text">Golden Dimention. Made with </h6>
</footer>
</div>
<div class="allerts margin-top__zero">
    <div class="alert failure upload">
        <strong>Failed to upload the file.</strong><br> It looks like
        the file has an inappropriate format.
    </div>
    <div class="alert failure search">
        <strong>Failed to find any records.</strong><br> Please double check input parameters.
    </div>
    <div class="alert failure operation">
        <strong>Operation failed.</strong>
    </div>
    <div class="alert success">
        <strong>Processed successfully!</strong>
    </div>
</div>
</body>

</html>