<footer class="registry-footer">
    <h6 class="footer-text">Golden Dimention. Made with </h6>
</footer>
</div>
<div class="allerts margin-top__zero">
    <div class="alert failure upload">
        <strong class="margin-top__zero">Failed to upload the file.</strong><br class="margin-top__zero"> It looks like
        the file has an inappropriate format.
    </div>
    <div class="alert failure search">
        <strong class="margin-top__zero">Failed to find any records.</strong><br class="margin-top__zero"> Please double check input parameters.
    </div>
    <div class="alert success">
        <strong>Processed successfully!</strong>
    </div>
</div>
</body>

</html>