<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<div class="validation-layout margin-top__zero hidden">
    <div class="validation-obfuscator">
        <div class="validation-modal">
            <h3 class="validation--header">Validation report</h3>
            <div class="spinner"><div class="mdl-spinner mdl-js-spinner is-active"></div></div>
            <div class="verdict hidden">Validation verdict: <span id="verdict"></span></div>
            <div class="not-valid-amount hidden">Amount of not valid records: <span id="records-amount"></span></div>
            <div class="example hidden">Example:</div>
            <textarea class="display hidden" readonly>

            </textarea>
            <div class="process-buttons">
                <button class="reject mdl-button mdl-js-button mdl-button--accent padding__top" onclick="rejectButton();">reject</button>
                <button class="report mdl-button mdl-js-button padding__top" onclick="reportButton();">report</button>
                <button class="proceed mdl-button mdl-js-button mdl-button--primary padding__top" onclick="proceedButton();">proceed</button>
            </div>
        </div>
    </div>
</div>
<div class="flex-nav margin-top__zero">
    <div class="mdl-layout--fixed-drawer mdl-layout mdl-js-layout">
        <div class="mdl-layout__drawer animated is-hidden">
            <nav class="mdl-navigation">
                <div class="upload-button" id="upload">
                    <input type="file" name="import file" id="import-field" hidden>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab" onclick="HIT_BUTTON = 'UPLOAD';">
                        <i class="material-icons">
                            cloud_upload
                        </i>
                    </button>
                </div>
                <div class="download-button" id="download">
                    <a href="/v1/aspsps/csv/download" download="aspsps.csv">
                        <button
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--colored">
                            <i class="material-icons">
                                cloud_download
                            </i>
                        </button>
                    </a>
                </div>
                <div class="merge-button" id="merge">
                    <input type="file" name="merge file" id="merge-field" hidden>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--primary" onclick="HIT_BUTTON = 'MERGE';">
                        <i class="material-icons">
                            merge_type
                        </i>
                    </button>
                </div>
                <div class="add-button" id="add">
                    <button class="mdl-button mdl-js-button mdl-button--fab" onclick="addRow();">
                        <i class="material-icons">
                            add
                        </i>
                    </button>
                </div>
                <div class="expand margin-top__zero">
                    <button class="mdl-button mdl-js-button mdl-button--icon" onclick="showButton()">
                        <i class="material-icons opacity__none animated">
                            arrow_drop_down
                        </i>
                    </button>
                </div>
            </nav>
        </div>
        <div class="tooltips">
            <div class="mdl-tooltip" data-mdl-for="download">
                Download CSV file
            </div>
            <div class="mdl-tooltip" data-mdl-for="upload">
                Upload CSV file
            </div>
            <div class="mdl-tooltip" data-mdl-for="merge">
                Bulk upload <br>(Save and update)
            </div>
            <div class="mdl-tooltip" data-mdl-for="add">
                Add new Aspsp
            </div>
        </div>
    </div>
    <div class="manager-layout--fixed-drawer margin-top__zero">
        <div class="manager-layout__drawer">
            <div class="username">
                <span class="user" sec:authentication="name"></span>
            </div>
            <div class="logout-drawer margin-top__zero">
                <div class="logout">
                    <a href="/logout" class="logout-link">
                        <button class="mdl-button mdl-js-button mdl-button--fab" id="logout-button">
                            <i class="material-icons">
                                power_settings_new
                            </i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="tooltips margin-top__zero">
            <div class="mdl-tooltip" data-mdl-for="logout-button">
                Logout
            </div>
        </div>
    </div>
</div>
<div class="flex-container">
    <header class="registry-header">
        <div class="header">
            <h1 class="registry-header">Aspsp Registry Manager</h1>
            <p class="total-elements">Total records: <span id="total"></span></p>
        </div>
        <div class="search">
            <form class="search-form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label for="bank-name" class="mdl-textfield__label">Bank name</label>
                    <input class="mdl-textfield__input" type="text" name="bank-name">
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label for="bic" class="mdl-textfield__label">BIC</label>
                    <input class="mdl-textfield__input" type="text" name="bic">
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label for="bank-code" class="mdl-textfield__label">Bank code</label>
                    <input class="mdl-textfield__input" type="text" name="bank-code">
                </div>
                <input class="mdl-button mdl-js-button button__padding-top" type="button" value="SEARCH"
                    id="search_button" onclick="searchButton();">
                <input class="mdl-button mdl-js-button button__padding-top" type="button" value="CLEAR"
                    id="clear_button" onclick="clearContent();">
            </form>
        </div>
    </header>