<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<header class="registry-header">
    <div class="header">
        <h1 class="registry-header">Aspsp Registry Manager</h1>
    </div>
    <div class="search">
        <form action="" class="search-form">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="bank-name" class="mdl-textfield__label">Bank name</label>
                <input class="mdl-textfield__input" type="text" name="bank-name" id="">
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="bic" class="mdl-textfield__label">BIC</label>
                <input class="mdl-textfield__input" type="text" name="bic" id="">
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="bank-code" class="mdl-textfield__label">Bank code</label>
                <input class="mdl-textfield__input" type="text" name="bank-code" id="">
            </div>
            <input class="mdl-button mdl-js-button" type="button" value="SEARCH">
        </form>
    </div>
</header>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Aspsp Registry Manager</span>
        <ul class="demo-list-icon mdl-list mdl-navigation">
            <li class="mdl-list__item mdl-navigation__link">
                <i class="material-icons">
                    add
                </i>
                Add new Aspsp</li>
            <li class="mdl-list__item mdl-navigation__link">
                <i class="material-icons">
                    arrow_downward
                </i>
                Export all indexes</li>
            <li class="mdl-list__item mdl-navigation__link">
                <i class="material-icons">
                    arrow_upward
                </i>
                Import aspsps</li>
        </ul>
    </div>
</div>